<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <title>Login Failure</title>

    </head>

    <body>
        <script type="text/javascript">
            $(window).on('load', function () {
                $('#modalFailureLogin').modal('show');
            });
        </script>

        <!-- Modal -->
        <div class="modal fade" id="modalFailureLogin" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-white">
                        <h3 class="modal-title font-weight-bold" id="exampleModalCenterTitle">Login Failed</h3>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger">
                            <strong>Error!</strong> Login failed. Please recheck the username and password and try again.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-light" href="/index" th:href="@{http://localhost:8081}" >Back to Home Page</a>
                        <a class="btn btn-info" href="http://localhost:8081/login">Please try again</a> <!-- mora ovo da bi inicirao autorizaciju ponovo sa stranice sa koje je i poceto pre greske, inace se gubi klijentova stranica-->
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
